# OS / Editor
Thumbs.db
.DS_Store
*.log
*.tmp

# Python / Node / Java / build folders
node_modules/
venv/
__pycache__/
*.class
build/
dist/

# Large model/data
*.h5
*.pt
*.pth
models/
data/

# IDE
.vscode/
.idea/

# avoid adding whole user folders accidentally
AppData/
Downloads/
Documents/
OneDrive/
